:root {
    /* Основные цвета */
    --background-color: #121212;
    --secondary-background-color: #1e1e1e;
    --primary-text-color: #ffffff;
    --secondary-text-color: #bbbbbb;
    --footer-background-color: #2c2c2c;
    --header-background-color: #333333;
    --button-background-color: #555555;
    --button-hover-background-color: #666666;
    --input-background-color: #1a1a1a;
    --input-border-color: #444444;
    --link-color: #8ab4f8;
    --link-hover-color: #aad1ff;
    --accent-color: #ff4081;
    --accent-hover-color: #ff80ab;
    --highlight-background-color: #262626;
    --border-color: #333333;
    --card-background-color: #2a2a2a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

header {
    background-color: var(--header-background-color);
    color: var(--primary-text-color);
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    background-color: var(--secondary-background-color);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--footer-background-color);
    color: var(--primary-text-color);
}

/* Пример стилей для карточек фильма */
.film-card {
    background-color: var(--card-background-color);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}
